{%- extends "base.html" -%}
{%- block title %}{{ _('Login')}}{% endblock -%}
{%- block content -%}
<div class="content_block"><form action="{{ url_for('profile_login') }}" id="login" method="post" autocomplete="on">
	<h2>{{ _('Login') }}</h2>
		<dl>
			<dt>{{ _('Email') }}:
			<dd><input type="text" name="email" class="backend">
			<dt>{{ _('Password') }}:
			<dd><input type="password" name="password" class="backend" >
		</dl>
	<button class="btn btn-default" type="submit">{{ _('Submit') }}</button> <button class="btn btn-default" type="reset">{{ _('Reset') }}</button>
</form>

<form action="{{ url_for('profile_password_reset_request') }}" id="password reset" method="post" autocomplete="on">
	<h2>{{ _('Password reset') }}</h2>
		<dl>
			<dt>{{ _('Email') }}:
			<dd><input type="text" name="email" class="backend">
		</dl>
	<button class="btn btn-default" type="submit">{{ _('Submit') }}</button> <button class="btn btn-default" type="reset">{{ _('Reset') }}</button>
</form>

</dev>
{% endblock %}