{%- extends "base.html" -%}
{%- block title %}{{ _('Show wishes for')}} {{ user.name }}{% endblock -%}
{%- block content -%}
<div class="content_block"><h3>{{ _('Show wishes for')}} {{ user.name }}</h3>
{% for wish in wishes %}
<div class="wish_box">
{{ wish.text }}<br />
{{ _('By') }} {{ wish.source.name }}, {{ _('Age') }}: {{ get_short_age(wish.creationDate) }} <a href="{{ url_for('hide_wish', wishId=wish.id, userId=user.id) }}" class="btn-sm btn-default" ole="button">{{ _('Hide') }}</a>
</div>
{% endfor %}

</div>{% endblock %}