{%- extends "base.html" -%}
{%- block title %}{{ _('Enter wish')}}{% endblock -%}
{%- block content -%}
<div class="content_block">
<form action="{{ url_for('wishes_blueprint.enter_wish') }}" id="profile" method="post">
    <table class='table table-striped'>
	<tr><td colspan="2"><h3>{{ _('Enter wish') }}</h3></td></tr>
	<tr>
		<td><label for="userid">{{ _('For user') }}:</label></td>
		<td><select id="userid" name="userid">
			{%- for user in users %}
				<option value="{{ user.id }}">{{ user.name }}</option>
			{%- endfor -%}
			</select>
        </td>
    </tr>
	<tr>
        <td><label for="description">{{ _('Description') }}:</label></td>
        <td><textarea rows="4" cols="50" name="text" id="description">{{ _('Describe the wish') }}</textarea></tr>
	<tr>
		<td colspan="2">
			<button class="btn btn-default" type="submit">{{ _('Submit') }}</button>
			<button class="btn btn-default" type="reset">{{ _('Reset') }}</button>
		</td>
	</tr>
    </table>
</form>
</div>{% endblock %}