{%- extends "base.html" -%}
{%- block title %}{{ _('Show wishes for')}} {{ user.name }}{% endblock -%}
{%- block content -%}
{% for wish in wishes %}
<div class="col-md-4 col"><div class="box dboard" id="{{ wish.id }}">
	<header>
		<table style="width: 100%;">
			<tr>
				<td style="text-align: left; vertical-align: baseline; font-size: 18px; margin: 5px;" class="dboardtitle">{{ _('By') }} {{ wish.source.name }}, {{ _('Age') }}: {{ get_short_age(wish.creationDate) }}</td>
				<td style="text-align: right; vertical-align: baseline;">
					<a href="{{ url_for('wishes_blueprint.hide_wish', wish_id=wish.id, user_id=user.id) }}" class="fa fa-close" alt="{{ _('Hide') }}"></a>
				</td>
			</tr>
		</table>
	</header>
	<section id="{{ wish.id }}-section" class="content-normal">{{ wish.text }}</section>
	<footer></footer>
</div></div>
{% endfor %}

{% for wish in hiddenWishes %}
<div class="col-md-4 col"><div class="greybox dboard" id="{{ wish.id }}">
	<header>
		<table style="width: 100%;" >
			<tr>
				<td style="text-align: left; vertical-align: baseline; font-size: 18px; margin: 5px;" class="dboardtitle">{{ _('By') }} {{ wish.source.name }}, {{ _('Age') }}: {{ get_short_age(wish.creationDate) }}</td>
			</tr>
		</table>
	</header>
	<section id="{{ wish.id }}-section" class="content-normal">{{ wish.text }}</section>
	<footer></footer>
</div></div>
{% endfor %}
{% endblock %}